*.exe
vs2017/Debug/
vs2017/.vs/
.vs/
*.suo
*.o
*obj
*.user
*.pdb
*.ilk
*.tlog
*.log
*.idb
*.filters
*.config
*.dll
*.exp
*.lib
*.txt
debug
release
x64
x86
.qmake.stash
build
maps
*.pro.user.*
.vscode
